.root {
  position: relative;
  width: min-content;
  //background-color: aliceblue;
  font-family: sans-serif;
  font-size: 11px;
}

.number {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  & > div {
    font-size: 40px;
  }
}

.candidates {
  display: grid;
  width: min-content;
  grid-template: "1 2 3"
                 "4 5 6"
                 "7 8 9";
  grid-template-columns: min-content min-content min-content;
  grid-template-rows: min-content min-content min-content;

  & > div {
    padding: 2px 5px;
  }
}
