.root {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: #E0EDF6;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.center {
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: white;
}

.right {
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
